:root{
    --parragraph-color:hsl(215, 51%, 70%);
    --font-color:hsl(178,100%,50%);
    --font-colora:hsla(178,100%,50%,0.5);
    --main-color:hsl(217, 54%, 11%);
    --card-color:hsl(216,50%,16%);
    --line-color:hsl(215, 32%, 27%);
    --white-color:hsl(0,0%,100%);
}